:root{
    --vermelho: #e50914;
    --preto: #141414;
    --fonte: #aaa;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font: 400 14px arial, sans-serif;
    list-style: none;
}
button {
    padding: 0.7rem;
    border-radius: 0.35rem;
    -webkit-border-radius: 0.35rem;
    -moz-border-radius: 0.35rem;
    -ms-border-radius: 0.35rem;
    -o-border-radius: 0.35rem;
}
.bt {
    display: inline-flex;
    gap: 10px;
}
.bt button {
    background:none;
    border: #fff 1px solid;
    color: #fff;
    font-weight: bolder;
}
.bt button:hover{
    background: #fff;
    color: #000;
}
.bt button:active {
    background: #fff;
    color: #000;
}
.navigation {
    background-color: var(--preto);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    place-items: center;
    padding: 1rem 2rem;
}
.navigation img {
    width: 10rem;
}
.navigation ul {
    display: flex;
    flex-direction: row;
    gap: 0 0.8rem;
    text-transform: uppercase;
    color: var(--fonte)
}
.navigation ul li {
    font: bold 0.9rem Arial, sans-serif;
    color: #fff;
}
.shade{
    display: flex;
    flex-direction: column-reverse;
    height: 40rem;
    background: linear-gradient(to bottom, #90500040, #00000050, #000000);
}
.shade::before {
    position: absolute;
    content: " ";
    height: 40rem;
    width: 100%;
    background-image: url("../img/cstv.jpg");
    background-size: cover;
    z-index: -1;
}
.description {
    padding: 2rem;
}
.description> :nth-child(2) {
    margin: 1rem 0;
    color: #fff;
}
.description > :nth-child(1){
    font: bolder 1.25rem Arial, sans-serif;
    color: #fff;
}
.navigation> .hidden {
    display: none;
}
.navigation > .btn-menu {
    display: none;
}
@media (max-width: 768px) {
    .navigation > .btn-menu {
        display: block;
    }
    .navigation > .menu {
        display: none;
    }
    .navigation > .hidden {
        background: #85070790;
        position: absolute;
        display: flex;
        place-content: center;
        place-items: center;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        z-index: 100;
    }
    .suspended-menu{
        background: #0970f7;
        width: 90%;
        height: 90%;
        color: rgb(177, 226, 154);
        border-radius: 0.8rem;
        -webkit-border-radius: 0.8rem;
        -moz-border-radius: 0.8rem;
        -ms-border-radius: 0.8rem;
        -o-border-radius: 0.8rem;
    }
    .suspended-menu>ul{
        display: block;
    }
    .suspended-menu > ul li {
        padding: 0.7rem;
        border-radius: 0.35rem;
        -webkit-border-radius: 0.35rem;
        -moz-border-radius: 0.35rem;
        -ms-border-radius: 0.35rem;
        -o-border-radius: 0.35rem;
        border: #fff solid 1px;
        text-align: center;
}
}