:root{
    --vermelho: #e50914;
    --preto: #141414;
    --fonte: #aaa;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font: 400 14px arial, sans-serif;
    list-style: none;
}
.navigation {
    background-color: var(--preto);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    place-items: center;
    padding: 1rem 4rem;
}
.navigation img {
    width: 10rem;
}
.navigation ul {
    display: flex;
    flex-direction: row;
    gap: 0 0.8rem;
    text-transform: uppercase;
    color: var(--fonte)
}
.shade{
    display: flex;
    flex-direction: column-reverse;
    height: 40rem;
    background: linear-gradient(to bottom, #90500040, #00000050, #000000);
}
.shade::before {
    position: absolute;
    content: " ";
    height: 40rem;
    width: 100%;
    background-image: url("../img/cstv.jpg");
    background-size: cover;
    z-index: -1;
}
.description {
    padding: 3rem;
}