*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font: 400 14px arial, sans-serif;
    list-style: none;
}
body {
    width: 100vw;
    height: 100vh;
    background: hsl(80, 100%, 50%);
}
div, nav, span {
    padding: 0;
    margin: 0;
}

nav {
    background: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 8rem;
}

nav img {
    /* margin-top: 10px; */
    width: 200px;
}

nav ul {
    display: flex;
    align-items: center;

    color: #fff;
}

nav ul > li {
    margin: 20px 10px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */

    max-width: 950;
    height: 100vh;
}
.shade {
    display: flex;
    align-items: center;
    z-index: 99;
    background: rgba(0, 0, 0, 1) right top;

}

.shade img {
    position: relative;
    width: 100%;
    z-index: -1;
}

.shade .description {
    position: absolute;
}

.shade .description h1 {
    color: #fff;
    font: 700 20px arial, sans-serif;
    margin-top: 6rem;
    margin-left: .8rem;
}

/* .shade .description h1 + p {
    margin-top: .6;
} */

.shade .description p {
    color: #cecece;
    padding: 10px;
    text-align: justify;
}

.shade .description .bt {
    display: flex;
    align-items: center;
    margin: .2rem 10px;
}

.shade .description .bt button {
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    width: 10rem;
    height: 3rem;

    border-radius: 1rem;
}

.shade .description .bt button + button {
    margin: 0 15px;
}